.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  

  .footer {
    margin-top: auto;
    text-align: center;
    background-color: #dae62e;
    padding: 10px;
  }
  
  